#search-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#search-bar button {
	width: 65px;
	height: 32px;
	border: none;
}

#search-bar input {
	border: none;
	background-color: rgb(239, 239, 239);
	padding: 4px 12px;
}

#search-bar input:focus,
input:active,
button:focus,
input:active {
	outline: none;
	border: none;
}

#search-bar button:hover {
	background-color: lightgrey;
	transition: all 0.2s ease-in-out;
}

/* Desktop */
@media (min-width: 480px) {
	#search-bar input {
		width: 295px;
	}

	#search-bar {
		margin-top: 400px;
	}
}

/* Mobile */
@media (max-width: 480px) {
	#search-bar input {
		width: 225px;
	}

	#search-bar {
		margin-top: 250px;
	}
}
