#search-bar {
	height: 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top: 150px;
}

#search-bar button {
	width: 65px;
	height: 32px;
	border: none;
}

#search-bar input {
	border: none;
	background-color: rgb(239, 239, 239);
	padding: 4px 12px;
}

#search-bar :focus,
:active {
	outline: none;
	border: none;
}

#search-bar button:hover {
	background-color: #e4e4e4;
	transition: all 0.07s ease-in-out;
}

/* Desktop */
@media (min-width: 480px) {
	#search-bar input {
		width: 295px;
	}

	#search-bar {
		left: calc(50% - 180px);
	}
}

/* Mobile */
@media (max-width: 480px) {
	#search-bar input {
		width: 225px;
	}

	#search-bar {
		left: calc(50% - 145px);
	}
}
