/* Desktop */
@media (min-width: 480px) {
	#not-found img {
		height: 450px;
		width: 600px;
	}

	#not-found {
		margin-top: 150px;
	}
}

/* Mobile */
@media (max-width: 480px) {
	#not-found img {
		height: 225px;
		width: 300px;
	}

	#not-found {
		margin-top: 100px;
	}
}
