#video-results {
	margin: 200px 0px;
}

#video-results li {
	padding: 20px;
}

/* Desktop */
@media (min-width: 480px) {
	#video-results ul {
		justify-content: space-between;
	}

	#video-results {
		margin-top: -225px;
	}
}

/* Mobile */
@media (max-width: 480px) {
	#video-results ul {
		justify-content: center;
	}

	#video-results {
		margin-top: -175px;
	}
}
